#map{
    height: 45rem;
    width: 75%;
}

#test {
    @apply text-blue-500;
}

.col-left{
    @apply h-full w-full;
}
.listItem{
    @apply p-4 border-b-2 border-blue-100;

}

.listItem h3{
    @apply mb-4 text-lg font-bold uppercase;

}

.listItem span{
    @apply text-base;

}

.star-container{
    @apply flex w-20 h-6 relative;
}

.star{
    @apply absolute top-0 h-6 left-0 bg-yellow-500;
}

.star:before{
    content: '';
    position: absolute;
    pointer-events: none;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400%;
    height: 400%;
    background-image: radial-gradient(#ffffff, #ffffff 70%, rgba(0, 0, 0, 0) 71%), radial-gradient(#ffffff, #ffffff 70%, rgba(0, 0, 0, 0) 71%), radial-gradient(#ffffff, #ffffff 70%, rgba(0, 0, 0, 0) 71%), radial-gradient(#ffffff, #ffffff 70%, rgba(0, 0, 0, 0) 71%), radial-gradient(#ffffff, #ffffff 70%, rgba(0, 0, 0, 0) 71%), radial-gradient(#ffffff, #ffffff 70%, rgba(0, 0, 0, 0) 71%), radial-gradient(#ffffff, #ffffff 70%, rgba(0, 0, 0, 0) 71%), radial-gradient(#ffffff, #ffffff 70%, rgba(0, 0, 0, 0) 71%), radial-gradient(#ffffff, #ffffff 70%, rgba(0, 0, 0, 0) 71%), radial-gradient(#ffffff, #ffffff 70%, rgba(0, 0, 0, 0) 71%), radial-gradient(#ffffff, #ffffff 70%, rgba(0, 0, 0, 0) 71%), radial-gradient(#ffffff, #ffffff 70%, rgba(0, 0, 0, 0) 71%), radial-gradient(#ffffff, #ffffff 70%, rgba(0, 0, 0, 0) 71%), radial-gradient(#ffffff, #ffffff 70%, rgba(0, 0, 0, 0) 71%), radial-gradient(#ffffff, #ffffff 70%, rgba(0, 0, 0, 0) 71%), radial-gradient(#ffffff, #ffffff 70%, rgba(0, 0, 0, 0) 71%);
    background-size: 0.25em 0.25em, 0.25em 0.25em, 0.25em 0.25em, 0.25em 0.25em, 0.25em 0.25em, 0.25em 0.25em, 0.25em 0.25em, 0.25em 0.25em, 0.25em 0.25em, 0.25em 0.25em, 0.25em 0.25em, 0.25em 0.25em, 0.25em 0.25em, 0.25em 0.25em, 0.25em 0.25em, 0.25em 0.25em;
    background-position: 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%;
    background-repeat: no-repeat;
    transition: all 0s ease-out;
}

.itemInfo{
    @apply flex flex-col;
}

.streetViewContainer{
    @apply h-24 w-24;
}


.streetViewContainer img{
    @apply object-cover w-full h-full rounded-full;
}

.flexContainer{
    @apply flex justify-between;
}

.marker{
    @apply relative;
}

.marker svg{
    @apply h-20 w-20;
}


.ratingDetails{
    @apply hidden;
}

.ratingItems{
    @apply my-4 relative;
}

.ratingItems p:first-child {
    @apply mt-4 text-sm text-yellow-500 mb-2 font-bold pr-4 ;
    width:10%;
}

.ratingItems:after {
    @apply absolute;
    top: 0.75rem;
    right: 1rem;
    transform: translateY(-50%);
    content: "";
    height: 1px;
    width: 90%;
    background: teal;
    
}

.ratingItems p:nth-child(2){
    @apply text-sm;
}